.autocomplete-input {
  $vertical-spacing: 8px;

  display: grid;
  row-gap: $vertical-spacing;
  position: relative;

  .label {
    display: grid;
    row-gap: $vertical-spacing;
    font-size: 14px;
  }

  .input-container {
    position: relative;
    display: flex;

    .input {
      border-radius: 8px;
      font-size: inherit;
      padding: 14px 49px 14px 14px;
      flex: 1;
    }

    .spinner {
      position: absolute;
      top: 10.5px;
      right: 14px;
    }
  }
}